<main class="game">
	<div class="game__wrapper">
		<header>
			<h1 class="heading js-heading">Memory Game</h1>
		</header>

		<section class="memory-game">
			<div class="game-board">
				<div onclick="ani()" id="box1"></div>
				<div onclick="ani()" id="box2"></div>
				<div onclick="ani()" id="box3"></div>
				<div onclick="ani()" id="box4"></div>
				<div onclick="ani()" id="box5"></div>
				<div onclick="ani()" id="box6"></div>
				<div onclick="ani()" id="box7"></div>
				<div onclick="ani()" id="box8"></div>
				<div onclick="ani()" id="box9"></div>
			</div>
		</section>

		<footer class="info-section">
			<button id="start">Start</button>
			<span class="info js-info hidden"></span>
		</footer>
	</div>
</main>